/*ESTLOS RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*ESTILOS GLOBALES*/
@font-face {
  font-family: "gill";
  src: url(./../assets/fonts/gillsans.ttf);
}
@font-face {
  font-family: "afacad";
  src: url(./../assets/fonts/Afacad-VariableFont_wght.ttf);
}
@font-face {
  font-family: "midnight";
  src: url(./../assets/fonts/midnight.ttf);
}
/*ESTILOS GLOBALES DE TODAS LAS PAGINAS */
.titulo {
  color: #009b7d;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 20px 20px 0px 20px;
  text-align: center;
}

.texto-principal {
  font-family: "afacad";
  margin: 20px;
  text-align: center;
  font-size: large;
}

/*ESTILOS HEADER*/
header {
  background-color: #daddd9;
  padding: 10px 30px 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header img {
  width: 40px;
  border-radius: 50%;
  border: 2px dotted #e6a70d;
}
header nav ul {
  list-style: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px;
}
header nav ul li a {
  font-size: x-small;
}
header nav ul li a:link {
  color: #009b7d;
}
header nav ul li a:visited {
  color: #e6a70d;
}
header nav ul li a:active {
  color: darkgreen;
}
header nav ul li a:hover {
  color: #8fbc8f;
}

/*ESTILOS MAIN GENERALES*/
main section .main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
main section .main-container .main-container-2 {
  margin: 20px;
  background-image: url(./../assets/img/fondo-main.png);
  background-attachment: fixed;
}
main section .main-container .main-container-2 .subtitulo {
  color: #e6a70d;
  font-family: "midnight";
  margin: 0px 20px 20px 20px;
  text-align: center;
}
main section .carrousel-grid .carousel .carousel-inner .carousel-item img {
  width: 300px;
  height: 400;
  -o-object-fit: cover;
     object-fit: cover;
}
main section .main-container-inf {
  background-image: url(./../assets/img/fondo-main.png);
  background-attachment: fixed;
}

/*ESTILOS BLOG DE BODA*/
.bdb-main {
  background-image: url("./../assets/img/dot-grid.png");
  background-attachment: fixed;
}
.bdb-main .bdb-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bdb-main .bdb-container .art-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: auto;
}
.bdb-main .bdb-container .art-container .art-impares {
  font-family: "afacad";
  color: #009b7d;
  background-color: #dddddd;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dotted #d66;
}
.bdb-main .bdb-container .art-container .art-impares h3 {
  font-size: xx-large;
  text-align: center;
}
.bdb-main .bdb-container .art-container .art-impares img {
  width: 50%;
  margin: 30px;
  border: #e6a70d, 0 2px;
  box-shadow: 2px 2px 8px 0 rgb(209, 102, 221), 4px 4px 16px 0 #d66, 0px 0px 24px 2px rgb(221, 197, 102);
}
.bdb-main .bdb-container .art-container .art-impares p {
  text-align: center;
}
.bdb-main .bdb-container .art-container .art-pares {
  font-family: "afacad";
  color: #dddddd;
  background-color: #e6a70d;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bdb-main .bdb-container .art-container .art-pares h3 {
  font-size: xx-large;
  text-align: center;
}
.bdb-main .bdb-container .art-container .art-pares img {
  width: 50%;
  margin: 30px;
  border: #e6a70d, 0 2px;
  box-shadow: 2px 2px 8px 0 rgb(209, 102, 221), 4px 4px 16px 0 #d66, 0px 0px 24px 2px rgb(221, 197, 102);
}
.bdb-main .bdb-container .art-container .art-pares p {
  color: #1e1e1e;
  text-align: center;
}
.bdb-main .bdb-container .art-container .boton-para-subir {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.bdb-main .bdb-container .art-container .boton-para-subir a {
  background-color: #009b7d;
  border: 1px solid #009b7d;
}
.bdb-main .bdb-container .art-container .boton-para-subir a:hover {
  background-color: #e6a70d;
  border: 1px solid #009b7d;
}

.main-galeria section .grid-container-galeria {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  row-gap: 20px;
  margin: 30px;
}
.main-galeria section .grid-container-galeria .grid-item-foto1 img {
  height: 100%;
  width: 100%;
  border-radius: 20px 0px;
  border: 1px seagreen dotted;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-galeria section .grid-container-galeria .grid-item-foto2 img {
  height: 100%;
  width: 100%;
  border-radius: 20px 0px;
  border: 1px seagreen dotted;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-galeria section .grid-container-galeria .grid-item-foto3 img {
  height: 100%;
  width: 100%;
  border-radius: 20px 0px;
  border: 1px seagreen dotted;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-galeria section .grid-container-galeria .grid-item-foto4 img {
  height: 100%;
  width: 100%;
  border-radius: 20px 0px;
  border: 1px seagreen dotted;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-galeria section .grid-container-galeria .grid-item-foto5 img {
  height: 100%;
  width: 100%;
  border-radius: 20px 0px;
  border: 1px seagreen dotted;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-galeria section .grid-container-galeria .grid-item-foto6 img {
  height: 100%;
  width: 100%;
  border-radius: 20px 0px;
  border: 1px seagreen dotted;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-galeria section .boton-para-subir {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.main-galeria section .boton-para-subir a {
  background-color: #009b7d;
  border: 1px solid #009b7d;
}
.main-galeria section .boton-para-subir a:hover {
  background-color: #e6a70d;
  border: 1px solid #009b7d;
}
.main-galeria section .boton-para-subir .gal-boton {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100px;
}

.main-ldc {
  background-image: url("./../assets/img/dot-grid.png");
  background-attachment: fixed;
}
.main-ldc .contenedor-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 15px;
  align-items: center;
}
.main-ldc .contenedor-cards .card-lc {
  width: 350px;
  height: 380px;
  margin: 30px;
  background-color: #1e1e1e;
  border: 1px dotted #1e1e1e;
  border-radius: 0% 20%;
  overflow: hidden;
}
.main-ldc .contenedor-cards .card-lc img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-ldc .contenedor-cards .card-lc .texto-cards {
  color: #dddddd;
  text-align: center;
  font-family: "afacad";
  font-size: large;
}
.main-ldc .text-center {
  padding: 30px;
}
.main-ldc .text-center .blockquote p {
  font-family: "midnight";
  font-size: x-large;
}

/*ESTILOS FOOTER*/
footer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #e6a70d;
  font-style: italic;
  background-color: #daddd9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
footer p {
  font-size: x-small;
  margin-bottom: 0px;
}

/*MQ TABLET*/
@media screen and (min-width: 768px) {
  /*Media query del Header*/
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header img {
    width: 80px;
  }
  header nav ul {
    flex-direction: row;
    -moz-column-gap: 20px;
         column-gap: 20px;
    align-items: center;
  }
  header nav ul li a {
    font-size: small;
  }
  /*Media Query del Index*/
  .carousel-item img {
    height: 450px;
  }
  /*Media Query de pagina blog de boda -bdb-*/
  .bdb-main .bdb-container .art-container {
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*Media Query de pagina galeria*/
  .main-galeria section .grid-container-galeria {
    grid-template-columns: auto auto auto;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .main-galeria section .grid-item-foto4 {
    grid-column: 1/4;
  }
  .main-galeria section .grid-item-foto5 {
    grid-column: 1/3;
  }
  /*Media Query de pagina lista de casamiento*/
  .main-ldc .text-center .blockquote p {
    font-size: xx-large;
  }
}/*# sourceMappingURL=main.css.map */