/*ESTILOS MAIN GENERALES*/
main {
    section {
        .main-container {
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            .main-container-2 {
                margin: 20px;
                background-image: url(./../assets/img/fondo-main.png);
                background-attachment: fixed;
                .subtitulo {
                    color:#e6a70d;
                    font-family: "midnight";
                    margin: 0px 20px 20px 20px;
                    text-align: center;
                }
            }
        }
        .carrousel-grid {
            .carousel {
                .carousel-inner {
                    .carousel-item {
                        img {
                            width: 400px;
                            height: 600px;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
        .main-container-inf {
            background-image: url(./../assets/img/fondo-main.png);
            background-attachment: fixed;
        }
    }
}