/*ESTILOS INDEX*/
main {
    section {
        .main-container {
            @include flexbox (wrap, column, center, center);
            .main-container-2 {
                margin: 20px;
                background-image: url(./../assets/img/fondo-main.png);
                background-attachment: fixed;
                .subtitulo {
                    color:#e6a70d;
                    font-family: "midnight";
                    margin: 0px 20px 20px 20px;
                    text-align: center;
                }
            }
        }
        .carrousel-grid {
            .carousel {
                .carousel-inner {
                    .carousel-item {
                        img {
                            width: 300px;
                            height: 400;
                            object-fit:cover;
                        }
                    }
                }
            }
        }
        .main-container-inf {
            background-image: url(./../assets/img/fondo-main.png);
            background-attachment: fixed;
        }
    }
}