/*ESTILOS GALERIA*/
.main-galeria {
    section {
        .grid-container-galeria {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: auto;
            row-gap: 20px;
            margin: 30px;

            .grid-item-foto1 {
                img {
                    @extend %img-galerias;
                }
            }

            .grid-item-foto2 {
                img {
                    @extend %img-galerias;
                }
            }

            .grid-item-foto3 {
                img {
                    @extend %img-galerias;
                }
            }

            .grid-item-foto4 {
                img {
                    @extend %img-galerias;
                }
            }

            .grid-item-foto5 {
                img {
                    @extend %img-galerias;
                }
            }

            .grid-item-foto6 {
                img {
                    @extend %img-galerias;
                }
            }
        }
    }
}