/*ESTILOS BLOG DE BODA*/
.bdb-main {
    background-image: url("./../assets/img/dot-grid.png");
    background-attachment: fixed;
    .bdb-container {
        @include flexbox (nowrap, column, center, center);
        .art-container {
            @include flexbox (nowrap, column, space-between, center);
            width: auto;
            .art-impares {
                font-family: "afacad";
                color:$color-principal;
                background-color: #dddddd;
                margin: 20px;
                @include flexbox (nowrap, column, center, center);
                border: 1px dotted #d66;
                h3 {
                    font-size: xx-large;
                    text-align: center;
                }
                img {
                    @extend %img-bdb;
                    box-shadow: 2px 2px 8px 0 rgb(209, 102, 221), 4px 4px 16px 0 #d66, 0px 0px 24px 2px rgb(221, 197, 102);
                }
                p {
                    text-align: center;
                }
            }
            .art-pares {
                font-family: "afacad";
                color:#dddddd;
                background-color:#e6a70d;
                margin: 20px;
                @include flexbox (nowrap, column, center, center);
                h3 {
                    font-size: xx-large;
                    text-align: center;
                }
                img {
                    @extend %img-bdb;
                    box-shadow: 2px 2px 8px 0 rgb(209, 102, 221), 4px 4px 16px 0 #d66, 0px 0px 24px 2px rgb(221, 197, 102);
                }
                p {
                    color:#1e1e1e;
                    text-align: center;
                }
            }
            .boton-para-subir {
                @extend %botones;
            }
        }
    }
}