/*ESTILOS GLOBALES*/
@font-face {
    font-family:"gill" ;
    src: url(./../assets/fonts/gillsans.ttf);
}
@font-face {
    font-family: "afacad";
    src: url(./../assets/fonts/Afacad-VariableFont_wght.ttf);
}
@font-face {
    font-family: "midnight";
    src: url(./../assets/fonts/midnight.ttf);
}
@font-face {
    font-family: "caviar";
    src: url(./../assets/fonts/CaviarDreams.ttf)
}
@font-face {
    font-family: "qas";
    src: url(./../assets/fonts/Qasbyne.otf)
}
/*ESTILOS GLOBALES DE TODAS LAS PAGINAS */
.titulo {
    color: $color-principal;
    //font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: "qas";
    margin: 20px 20px 0px 20px;
    text-align: center;
}
.texto-principal {
    @extend %texto-principal;
}

