/*MQ TABLET*/
@media screen and (min-width: 768px) {
    /*Media query del Header*/
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        img {
            width: 80px;
        }
        nav {
            ul {
                flex-direction: row;
                column-gap: 20px;
                align-items: center;
                li {
                    a {
                        font-size: large;
                    }
                }
            }
        }
    }
    /*Media Query del Index*/
    .carousel-item {
        img {
            height: 450px;
        }
    }
    /*Media Query de pagina blog de boda -bdb-*/
    .bdb-main {
        .bdb-container {
            .art-container {
                width: 700px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    /*Media Query de pagina galeria*/
    .main-galeria {
        section {
            .grid-container-galeria {
                grid-template-columns: auto auto auto;
                column-gap: 20px;
            }
            .grid-item-foto4 {
                grid-column: 1/4;
            }
            .grid-item-foto5 {
                grid-column: 1/3;;
            }
        }
    }
    /*Media Query de pagina lista de casamiento*/
    .main-ldc {
        .text-center {
            .blockquote {
                p {
                    font-size: xx-large;
                }
            }
        }
    }
}




/*MQ DESKTOP*/
@media screen and (min-width: 1024px) {
        /*Media query dktop del Header*/
        header {
            img {
                width: 150px;
                border-radius: 50%;
                border: 2px dotted #e6a70d;
            }
            nav {
                ul {
                    li {
                        a {
                            font-size: x-large;
                        }
                    }
                }
            }
        }
        /*Media Query dktop del Index*/
        .carousel-item {
            img {
                height: 600px;
            }
        }
        /*Media Query dktop del blod de boda*/
        .bdb-main {
            .bdb-container {
                .art-container {
                    width: 1000px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
}
