/*MQ TABLET*/
@media screen and (min-width: 768px) {
    /*Media Query del Index*/
    .banner-animado {
        p{
            font-size: large;
        }
    }
    /*Media Query de pagina blog de boda -bdb-*/
    .bdb-main {
        .bdb-container {
            .art-container {
                width: 700px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    /*Media Query de pagina galeria*/
    .main-galeria {
        section {
            .grid-container-galeria {
                grid-template-columns: auto auto auto;
                column-gap: 20px;
            }
            .grid-item-foto4 {
                grid-column: 1/4;
            }
            .grid-item-foto5 {
                grid-column: 1/3;;
            }
        }
    }
    /*Media Query de pagina lista de casamiento*/
    .main-ldc {
        .text-center {
            .blockquote {
                p {
                    font-size: xx-large;
                }
            }
        }
    }
    /*Media Query del footer*/
    footer {
        p{
            font-size: larger;
        }
    }
}




/*MQ DESKTOP*/
@media screen and (min-width: 1024px) {
        /*Media query dktop del Header*/
        header {
            .navbar {
                .container-menu {
                    .logo {
                        width: 150px;
                    }
                    .menu {
                        .nav-item {
                            font-size: x-large;
                        }
                    }
                }
            }
        }
        /*Media Query dktop del Index*/
        .banner-animado {
            p{
                font-size: x-large;
            }
        }
        /*Media Query dktop del blod de boda*/
        .bdb-main {
            .bdb-container {
                .art-container {
                    width: 1000px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
}
