/*ESTILOS FOOTER*/
footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#e6a70d;
    font-style: italic;
    background-image: linear-gradient(45deg, #4ad48a 0%, #f5f2f0 100%);    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    p {
        font-size: x-small;
        margin-bottom: 0px;
    }
}