/*ESTILOS HEADER*/
header{
    .navbar {
        padding: 0px;
        .container-menu {
            background-color: #4ad48a;
            background-image: linear-gradient(225deg, #4ad48a 0%, #f5f2f0 100%);
            .logo {
                width: 100px;
            }
            .menu-button {
                border: 0;
                &:focus {
                    box-shadow: none;
                }
                .menu-icon {
                    background-image: url(./../assets/img/burger.svg);
                }
            }
            .menu {
                flex-grow: 0;
                .menu-ul {
                    align-items: center;
                    .nav-item {
                        .menu-item {
                            color: #ffffff;
                            font-size: larger;
                            font-family: "abel";
                            &:hover{
                                color:goldenrod;
                            }
                        }
                    }
                }
            }
        }
    }
}
/*
header {
    background: linear-gradient(to left, #fafaf8, #b0dab9);
    padding: 10px 30px 10px 30px;
    @include flexbox (nowrap, column, center, center);
    img{
        width: 40px;
    }
    nav {
        ul {
            list-style: none;
            font-family: "abel";
            @include flexbox (nowrap, column, center, center);
            padding: 0px;
            li {
                a {
                    font-size: medium;
                }
                a:link {
                    color:#009b7d;
                }
                a:visited {
                    color:#e6a70d;
                }
                a:active {
                    color:darkgreen;
                }
                a:hover {
                    color:#8fbc8f;
                }
            }
        }
    }
}
*/