/*ESTILOS HEADER*/
header {
    background: linear-gradient(to left, #fafaf8, #b0dab9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 10px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        width: 40px;
        border-radius: 50%;
        border: 2px dotted #e6a70d;
    }
    nav {
        ul {
            list-style: none;
            font-family: "caviar";
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0px;
            li {
                a {
                    font-size: x-small;
                }
                a:link {
                    color:#009b7d;
                }
                a:visited {
                    color:#e6a70d;
                }
                a:active {
                    color:darkgreen;
                }
                a:hover {
                    color:#8fbc8f;
                }
            }
        }
    }
}